[submodule "thirdparties/cereal"]
	path = thirdparties/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark.git
