[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparties/hexl/hexl"]
	path = thirdparties/hexl/hexl
	url = https://github.com/intel/hexl.git
[submodule "thirdparties/concrete-fft"]
	path = thirdparties/concrete-fft
	url = https://github.com/virtualsecureplatform/concrete-fft.git
[submodule "thirdparties/concrete-ntt"]
	path = thirdparties/concrete-ntt
	url = https://github.com/virtualsecureplatform/concrete-ntt.git
[submodule "thirdparties/BLAKE3"]
	path = thirdparties/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "thirdparties/AES"]
	path = thirdparties/AES
	url = https://github.com/virtualsecureplatform/AES.git
[submodule "thirdparties/cereal"]
	path = thirdparties/cereal
	url = https://github.com/virtualsecureplatform/cereal.git
[submodule "thirdparties/spqlios-arithmetic"]
	path = thirdparties/spqlios-arithmetic
	url = https://github.com/tfhe/spqlios-arithmetic.git
