[submodule "thirdparties/cereal"]
	path = thirdparties/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparties/hexl/hexl"]
	path = thirdparties/hexl/hexl
	url = https://github.com/intel/hexl.git
[submodule "thirdparties/concrete-fft"]
	path = thirdparties/concrete-fft
	url = https://github.com/virtualsecureplatform/concrete-fft.git
[submodule "thirdparties/concrete-ntt"]
	path = thirdparties/concrete-ntt
	url = https://github.com/virtualsecureplatform/concrete-ntt.git
